.topnav {
    overflow: hidden;
  float:right;
   
  }
  .topnav a {
    float: left;
    display: block;
    color: rgb(105,105,105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    text-decoration: none;
    color:#3ABAF1;
  }
  .stickys {
    position: fixed;
    width: 100%;  
    z-index: 1;
    overflow: hidden;
    margin: auto;
      top: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    
  }
  .shadow_btn{
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.1);
   
  }
  button.btn1{
    height: 5vh;
    width: 7vw;
    background: #3ABAF1;
    color: #ffffff;
    border-color: #3ABAF1;
margin-top: 10px;
margin-right: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 100;
  text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
   font-family: "Lato","Avenir W01",Helvetica,Arial,sans-serif; 
   font-weight: 400;
  }
  button.btn1:hover,
button.btn1:active,
button.btn1:focus,
button.btn1.active {
 color: #3ABAF1;
  background-color: #ffffff;
  border-color: #3ABAF1; 
}
.img-logo{
  width: 60px;
  margin-left: 5vh;
}
button.btn_order{
  height: 5vh;
    
  background: #ff9001;
  color: #ffffff;
  border-color: #ff9001;
margin-top: 10px;
margin-right: 10px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 100;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
 font-family: "Lato","Avenir W01",Helvetica,Arial,sans-serif; 
 font-weight: 400;
}
button.btn_order:hover,
button.btn_order:active,
button.btn_order:focus,
button.btn_order.active {
 color: #ff9001;
  background-color: #ffffff;
  border-color: #ff9001; 
}